<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="AUTH3 Team">
    <title>AUTH3 Admin Client</title>

    <link rel="canonical"
          href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Admin client</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="fstNavbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdownUser" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdownUser">
                            <li><a class="dropdown-item"
                                   th:href="@{/keycloak/users}">Пользователи
                            </a></li>
                            <li><a class="dropdown-item" href="/#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#exampleModal">Новый
                                пользователь</a></li>
                            <li><a class="dropdown-item" href="/#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#exampleModal1">Удалить
                                пользователя</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#exampleRoleUserInClient">
                                Назначить роль клиента пользователю
                            </a>
                            </li>
                            <li><a class="dropdown-item" href="/#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#rolesUserInClient">Роли
                                пользователя в клиенте</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdownClient" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Client & Roles
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdownClient">
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                   data-bs-target="#exampleNewClient"
                                   href="#">Новый
                                Клиент</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                   data-bs-target="#exampleNewRoleClient"
                                   href="#">Новая роль в Клиенте
                            </a></li>
                            <li><a class="dropdown-item"
                                   th:href="@{/keycloak/clients}">Список
                                (Сервисов)Клиентов
                            </a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                   data-bs-target="#exampleListRoleClient"
                                   href="#">Список ролей в Клиенте
                            </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdownService" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Service
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdownService">
                            <li><a class="dropdown-item"
                                   href="http://localhost:8081/cinema">Cinema
                            </a></li>
                            <li><a class="dropdown-item"
                                   href="http://localhost:8082/library">Library
                            </a></li>
                            <li><a class="dropdown-item"
                                   href="http://localhost:8083/music">Music
                            </a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" th:href="@{/subscribe}">Подписка</a>
                    </li>-->
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end"
                 id="sndNavbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item" th:if="${principal}">
                        <a class="nav-link" th:href="@{/account}">Аккаунт</a>
                    </li>
                    <!--
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">Admin</a>
                    </li>-->
                    <li class="nav-item">
                        <a th:unless="${principal}" class="nav-link"
                           th:href="@{/account}">Вход</a>
                        <a action="logout" methods="post" th:if="${principal}"
                           class="nav-link" href="#"
                           th:href="@{/logout}">Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<main class="container">

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Admin Client</h1>
            <p class="fs-4">Welcome admin!</p>
        </div>
    </div>

    <!-- Форма регистрации нового пользователя -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Новый
                        пользователь</h5>
                </div>
                <div class="modal-body">
                    <p>Введите пожалуйста логин и пароль.</p>
                    <form th:action="@{/keycloak/user}" method="post">
                        <div class="form-group">
                            <label for="exampleInputName">User name</label>
                            <input type="text" th:name="username"
                                   class="form-control"
                                   id="exampleInputName"
                                   aria-describedby="userNameHelper"
                                   placeholder="Enter User name">
                            <small id="userNameHelper"
                                   class="form-text text-muted">Enter
                                User name</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" th:name="pass"
                                   class="form-control"
                                   id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма присвоения роли -->
    <div class="modal fade" id="exampleRoleUserInClient" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleUserInClientLabel">
                        Назначить роль клиента пользователю</h5>
                </div>
                <div class="modal-body">

                    <form th:action="@{/keycloak/user/role}" method="post">
                        <div class="form-group">
                            <label for="exampleInputRole">User name</label>
                            <input type="text" th:name="userName"
                                   class="form-control"
                                   id="exampleInputRole1"
                                   aria-describedby="userNameHelper1">
                            <small id="userNameHelper1"
                                   class="form-text text-muted">Enter
                                User name</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputClientId">ClientId</label>
                            <input type="text" th:name="clientId"
                                   class="form-control"
                                   id="exampleInputClientId">
                            <small id="InputClientIdHelper"
                                   class="form-text text-muted">Enter
                                ClientId</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputClientId">Role</label>
                            <input type="text" th:name="role"
                                   class="form-control"
                                   id="exampleInputRole">
                            <small id="InputRoleHelper"
                                   class="form-text text-muted">Enter
                                Role name</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--  Форма удаления пользователя  -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Удалить
                        акк пользователя</h5>
                </div>
                <div class="modal-body">
                    <p>Введите пожалуйста логин пользователя.</p>

                    <form th:method="post" th:action="@{/keycloak/user/del}">
                        <div class="form-group">
                            <label for="InputUsername">User name</label>
                            <input type="text"
                                   th:name="username"
                                   class="form-control"
                                   id="InputUsername"
                                   aria-describedby="UsernameHelp"
                                   placeholder="Enter User name">
                            <small id="UsernameHelp"
                                   class="form-text text-muted">Введите
                                имя(Username) пользователя для удаления
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма получения ролей пользователя в клиенте -->
    <div class="modal fade" id="rolesUserInClient" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rolesUserInClientLabel">Роли
                        пользователя в клиенте
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Введите пожалуйста имя пользователя и название клиента
                        .</p>
                    <form th:action="@{/keycloak/user/roles}" method="get">
                        <div class="form-group">
                            <label for="exampleInputUserName">User name</label>
                            <input type="text" th:name="username"
                                   class="form-control"
                                   id="exampleInputUserName"
                                   aria-describedby="usernameHelper">
                            <small id="exampleInputUserNameHelp"
                                   class="form-text text-muted">Enter
                                User name</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleNameClientId">ClientId</label>
                            <input type="text" th:name="clientId"
                                   class="form-control"
                                   id="exampleNameClientId">
                            <small id="exampleNameClientIdHelp"
                                   class="form-text text-muted">Enter
                                ClientId name</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Форма получение ролей в клиенте-->
    <div class="modal fade" id="exampleListRoleClient" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleListRoleClientLabel">Realm
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Введите имя клиента.</p>
                    <form th:method="get"
                          th:action="@{/keycloak/client/roles}">
                        <div class="form-group">
                            <label for="InputUsername">Client Name</label>
                            <input type="text"
                                   th:name="clientId"
                                   class="form-control"
                                   id="InputNameClientId"
                                   aria-describedby="ClientIdHelp">
                            <small id="ClientIdHelp"
                                   class="form-text text-muted">Введите имя
                                клиента
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма создания нового Клиента в Реалме  -->
    <div class="modal fade" id="exampleNewClient" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleNewClientLabel">Realm
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Введите имя нового клиента.</p>
                    <form th:action="@{/keycloak/client}" th:method="post">
                        <div class="form-group">
                            <label for="InputClientId">ClientId name</label>
                            <input type="text"
                                   th:name="clientId"
                                   class="form-control"
                                   id="InputClientId"
                                   aria-describedby="UsernameHelp">
                            <small id="ClientHelp"
                                   class="form-text text-muted">Введите имя
                                клиента
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма создания новой роли в клиенте   -->
    <div class="modal fade" id="exampleNewRoleClient" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleNewRoleLabel">Realm
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Введите имя роли и имя клиента.</p>
                    <form th:method="post"
                          th:action="@{/keycloak/client/role/new}">
                        <div class="form-group">
                            <label for="InputRole">Role Name</label>
                            <input type="text"
                                   th:name="roleName"
                                   class="form-control"
                                   id="InputRole"
                                   aria-describedby="RolenameHelp">
                            <small id="RolenameHelp"
                                   class="form-text text-muted">Введите название
                                роли
                            </small>
                            <div>
                                <label for="InputClientId1">Client Name</label>
                                <input type="text"
                                       th:name="clientId"
                                       class="form-control"
                                       id="InputClientId1"
                                       aria-describedby="ClientHelp">
                                <small id="ClientIdHelp1"
                                       class="form-text text-muted">Введите
                                    id клиента. Например
                                    06f48877-8a69-4af8-9c6d-2930bf2e8ea0.
                                </small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
