variables:
  REGISTRY: "image-registry.openshift-image-registry.svc:5000"
  NAMESPACE: 'java-school'
  APP_IMAGE: "$REGISTRY/$NAMESPACE/$APP_NAME"
  TEMP_IMAGE_TAG: "temp_$CI_PIPELINE_ID"
  KUBERNETES_CPU_REQUEST: '1'
  KUBERNETES_CPU_LIMIT: '1'
  KUBERNETES_MEMORY_REQUEST: '1Gi'
  KUBERNETES_MEMORY_LIMIT: '1Gi'

stages:
  #- bridge-eureka
  #- bridge-resource
  - bridge-microservices

eureka-server:
  stage: bridge-eureka
  inherit:
    variables: true
  variables:
    APP_NAME: "eureka-server"
  trigger:
    include: .sso-apps.gitlab-ci.yml
    strategy: depend

resource-server:
  stage: bridge-resource
  inherit:
    variables: true
  variables:
    APP_NAME: "resource-server"
  trigger:
    include: .sso-apps.gitlab-ci.yml
    strategy: depend

bridge-to-microservices:
  stage: bridge-microservices
  inherit:
    variables: true
  trigger:
    include: .sso-apps.gitlab-ci.yml
    strategy: depend