admin-service:
  stage: bridge-admin
  inherit:
    variables: true
  variables:
    APP_NAME: "main_service"
  trigger:
    include: .sso-apps.gitlab-ci.yml
    strategy: depend


microservice-cinema:
  stage: bridge-cinema
  inherit:
    variables: true
  variables:
    APP_NAME: "microservice-cinema"
  trigger:
    include: .sso-apps.gitlab-ci.yml
    strategy: depend


microservice-library:
  stage: bridge-library
  inherit:
    variables: true
  variables:
    APP_NAME: "microservice-library"
  trigger:
    include: .sso-apps.gitlab-ci.yml
    strategy: depend

microservice-music:
  stage: bridge-music
  inherit:
    variables: true
  variables:
    APP_NAME: "microservice-music"
  trigger:
    include: .sso-apps.gitlab-ci.yml
    strategy: depend
