version: '3.8'

services:

  eureka-server:
    container_name: eureka-server
    build:
      context: eureka-server
      dockerfile: Dockerfile
    ports:
      - ${EUREKA_SERVER_PORT}:${EUREKA_SERVER_PORT}
    networks:
      - sso-net

  api-gateway:
    container_name: api-gateway
    build:
      context: api-gateway
      dockerfile: Dockerfile
    ports:
      - ${API_GATEWAY_PORT}:${API_GATEWAY_PORT}
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:${EUREKA_SERVER_PORT}/eureka
    depends_on:
      - eureka-server
      - microservice-cinema
      - microservice-library
      - microservice-music
      #- main-service
    networks:
      - sso-net

  microservice-cinema:
    container_name: microservice-cinema
    build:
      context: microservice-cinema
      dockerfile: Dockerfile
    ports:
      - ${CINEMA_MICROSERVICE_PORT}:${CINEMA_MICROSERVICE_PORT}
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:${EUREKA_SERVER_PORT}/eureka
    depends_on:
      - eureka-server
    networks:
      - sso-net

  microservice-library:
    container_name: microservice-library
    build:
      context: microservice-library
      dockerfile: Dockerfile
    ports:
      - ${LIBRARY_MICROSERVICE_PORT}:${LIBRARY_MICROSERVICE_PORT}
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:${EUREKA_SERVER_PORT}/eureka
    depends_on:
      - eureka-server
    networks:
      - sso-net

  microservice-music:
    container_name: microservice-music
    build:
      context: microservice-music
      dockerfile: Dockerfile
    ports:
      - ${MUSIC_MICROSERVICE_PORT}:${MUSIC_MICROSERVICE_PORT}
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:${EUREKA_SERVER_PORT}/eureka
    depends_on:
      - eureka-server
    networks:
      - sso-net

networks:
  sso-net:
    name: sso-net
    driver: bridge