logging:
  level:
    root: WARN
    org.springframework.web: INFO
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG

server:
  port: 8761
keycloak-client:
  server-url: https://keycloak:8180/auth
  realm: sso_realm
spring:
  application:
    name: service-gateway
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: service-gateway
            client-secret: f72c02ca-7321-4397-8959-398dedcfb073
            authorization-grant-type: authorization_code
            redirect-uri: https://keycloak:8180/login/oauth2/code/keycloak
            scope: openid
        provider:
          keycloak:
            authorization-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/auth
            token-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/token
            user-info-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/userinfo
            jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs
            user-name-attribute: preferred_username
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs
  cloud:
    gateway:
      routes:
        - id: microservice-cinema
          uri: lb://microservice-cinema
          predicates:
            - Path=/api/cinema/**
          filters:
            - TokenRelay=
            - RemoveRequestHeader=Cookie
  main:
    allow-bean-definition-overriding: true
    web-application-type: reactive

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://eureka-server:8761/eureka/