server:
  port: 8085
  servlet:
    context-path: /main

keycloak-client:
  server-url: http://keycloak-java-school.apps.okd.stage.digital.rt.ru/auth
  realm: sso_realm

spring.security.oauth2:
  resourceserver:
    jwt:
      issuer-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}
      jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs

admin:
  auth-server-url: ${keycloak-client.server-url}
  keycloak:
    realm: sso_realm
    clientId: admin-cli
    username: administrator
    password: password
    secret: 589f6f4c-d006-4bf1-9978-c133ac87447a