server:
  error:
    whitelabel:
      enabled: false
  port: 8085
  servlet:
    context-path: /admin

eureka:
  instance:
    hostname: ${DOCKER_HOST:localhost}
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:8761/eureka/

keycloak-client:
  server-url: http://keycloak-java-school.apps.okd.stage.digital.rt.ru/auth
  realm: sso_realm
  admin:
    clientId: admin-cli
    username: administrator
    password: password
    secret: 589f6f4c-d006-4bf1-9978-c133ac87447a

spring:
  application:
    name: main_service
  security:
    oauth2:
      client:
        registration:
          admin-client:
            provider: keycloak
            client-id: admin-client
            client-secret: f72c02ca-7321-4397-8959-398dedcfb073
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid
        provider:
          keycloak:
            authorization-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/auth
            token-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/token
            user-info-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/userinfo
            jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs
            user-name-attribute: preferred_username

resource-server:
  api:
    url: http://localhost:8080/resource-server/api/admin

