/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

table {
    margin: auto;
    text-align: center;
}

.movie-card {
    width: 100%;
}

.movie-rating-div {
    display: table;
    font-family: Tahoma, serif;
}

.movie-rating {
    display: table-cell;
    vertical-align: middle;
}

.movie-rating-value {
    font-style: italic;
    font-size: 18px;
    color: #ee0101;
}

.movie-title {
    font-family: Tahoma, serif;
    color: #1f1919;
}