<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>

<ul>
    <!--<li><a href="#" th:href="@{/protected}">App</a></li>-->
    <li sec:authorize="hasRole('ROLE_SUBSCRIBER')"><a href="#"
                                                      th:href="@{/admin}">Admin</a></li>
    <li th:if="${principal}"><a href="#" th:href="@{/account}">Account</a></li>
</ul>

<form action="logout" method="post" th:if="${principal}">
    <input type="hidden" th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>

    <button>Logout</button>
</form>

<h1>Фильмы:</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Дата премьеры</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${movies == null || movies.empty}">
        <td colspan="4">Фильмов нет!</td>
    </tr>
    <tr th:each="movie : ${movies}">
        <td><span th:text="${movie.id}"> ID </span></td>
        <td><span th:text="${movie.title}"> Название </span></td>
        <td><span th:text="${movie.creationYear}"> Дата премьеры </span></td>
    </tr>
    </tbody>
</table>
<!--<a class="navbar-brand" th:href="@{/}">Cinema client</a>
<label>Welcome !</label><br/>
<a th:href="@{/account/}">Login</a>-->
</body>
</html>
