debug: true
server:
  port: 8083

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

keycloak-client:
  server-url: http://localhost:8180/auth
  realm: sso_realm

spring:
  application:
    name: microservice-music
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}

