debug: true

server:
  port: 8081

eureka:
  instance:
    hostname: ${DOCKER_HOST:localhost}
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:8761/eureka/

keycloak-client:
  server-url: http://localhost:8180/auth
  realm: sso_realm

spring:
  application:
    name: microservice-cinema
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}
          jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs

