debug: true
server:
  port: 8081

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:9091/eureka/
keycloak-client:
  server-url: http://localhost:8180/auth
  realm: sso_realm
spring:
  application:
    name: microservice-cinema
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: microservice-cinema
            client-secret:
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8081/login/oauth2/code/keycloak
            scope: openid
        provider:
          keycloak:
            authorization-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/auth
            token-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/token
            user-info-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/userinfo
            jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs
            user-name-attribute: name
            user-info-authentication-method: header
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs
