<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Music page</title>
</head>
<body>
<h3>Hi, <span sec:authentication="name">preferred_username</span></h3>
<h3>Email: <span th:text="${email}"> Email </span></h3>
<h3>Authorities: <span th:text="${authorities}"> Authorities </span></h3>

<h1>Песни:</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Исполнитель</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${songs == null || songs.empty}">
        <td colspan="4">Песен нет!</td>
    </tr>
    <tr th:each="song : ${songs}">
        <td><span th:text="${song.id}"> ID </span></td>
        <td><span th:text="${song.title}"> Название </span></td>
        <td><span th:text="${song.musicianName}"> Исполнитель </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>