<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Library page</title>
</head>
<body>
<h3>Hi, <span sec:authentication="name">preferred_username</span></h3>
<h3>Email: <span th:text="${email}"> Email </span></h3>
<h3>Authorities: <span th:text="${authorities}"> Authorities </span></h3>

<h1>Книги:</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Автор</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books == null || books.empty}">
        <td colspan="4">Книг нет!</td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.id}"> ID </span></td>
        <td><span th:text="${book.title}"> Название </span></td>
        <td><span th:text="${book.authorName}"> Автор </span></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/logout}">Выйти</a>
</body>
</html>