server:
  port: 8082
  servlet:
    context-path: /library

application:
  url: ${APP_HOST}

eureka:
  instance:
    hostname: ${EUREKA_HOST}
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:8761/eureka/

keycloak-client:
  server-url: http://keycloak-java-school.apps.okd.stage.digital.rt.ru/auth
  realm: sso_realm

spring:
  application:
    name: microservice-library
  security:
    oauth2:
      client:
        registration:
          microservice-library:
            provider: keycloak
            client-id: microservice-library
            client-secret: 57d301ff-8ed2-4c6c-92e7-3a25794705d6
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid
        provider:
          keycloak:
            authorization-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/auth
            token-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/token
            user-info-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/userinfo
            jwk-set-uri: ${keycloak-client.server-url}/realms/${keycloak-client.realm}/protocol/openid-connect/certs
            user-name-attribute: preferred_username

resource-server:
  api:
    url: http://${RESOURCE_HOST}/resource-server/api/library/

